@use '../variables' as *;

.color-selector {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $bp-desktop) {
    gap: 24px;
  }

  &__label {
    font-size: $font-size-sm;
    text-transform: uppercase;

    @media (min-width: $bp-desktop) {
      font-size: $font-size-md;
    }
  }

  &__options {
    display: flex;
    gap: 16px;
  }

  &__swatch {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    outline: 1px solid $color-selector-unselected;
    cursor: pointer;

    &:hover,
    &--selected {
      outline-color: $color-selector-selected;
    }
  }

  &__name {
    font-size: $font-size-sm;
    min-height: 1.25em;

    @media (min-width: $bp-desktop) {
      font-size: $font-size-md;
    }
  }
}
