@use '../variables' as *;
@use '../mixins' as *;

.phone-search {
  @include sticky-subheader;

  padding-top: 24px;
  padding-bottom: 12px;
  margin-bottom: 24px;

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-lines;
    padding: 8px 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: inherit;
    outline: none;
    background: transparent;
  }

  &__count {
    font-size: 12px;
    text-transform: uppercase;
  }
}
